
  <div class="container mt-5">
    <h2>Listado de precios</h2>
    <p>Recuerda que los precios listados para cada modulo pueden variar según tus  necesidades </p>
    
  </div>
  <div class="container cf">
    <!-- Course 1 -->
    <div class="animation-element bounce-up cf">
      <div class="subject development">
        <div class="category-color"></div>
        <div class="icon"><i class="fas fa-user-md fa-lg"></i></div>
        <div class="header cf">
          <div class="row title justify-content-between">
          <h3 class=" d-flex justify-content-start"> Básico</h3>
          <h4 class=" d-flex justify-content-end text-success-bold"> $700/Mes</h4>
        </div>
        </div>
        <h5 >Para profesionales que trabajan en varias clínicas</h5>
        <div class=" d-flex align-items-center" ><label><i class="fas fa-heartbeat fa-lg mr-2 text-danger"></i>Gestión de agenda e historia clínica</label></div>
        <div class=" d-flex align-items-center" ><label><i class="fas fa-user fa-lg mr-2 text-secondary"></i>Usuario disponibles - 1 </label></div>
        <div class=" d-flex align-items-center" ><label><i class="far fa-hospital fa-lg mr-2"></i>Clínicas - 3</label></div>
        <div class=" d-flex justify-content-center"> <button class="btn btn-info btn-block">CONTRATAR</button></div>
      </div>
    </div>
    <!-- Course 2 -->
    <div class="animation-element bounce-up cf">
      <div class="subject design">
        <div class="category-color"></div>
        <div class="icon"><i class="fas fa-first-aid"></i></div>
        <div class="header cf">
            <div class="row title justify-content-between">
            <h3 class=" d-flex justify-content-start"> Clínicas</h3>
            <h4 class=" d-flex justify-content-end text-success-bold"> $1600/Mes</h4>
          </div>
          </div>
          <h5 >Pensado para  grupo de profesionales que trabajan en varias clínicas </h5>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-heartbeat fa-lg mr-2 text-danger"></i>Gestión de agenda e historia clínica</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-user fa-lg mr-2 text-secondary"></i>Usuario disponibles - 3 </label></div>
          <div class=" d-flex align-items-center" ><label><i class="far fa-hospital fa-lg mr-2"></i>Clínicas - 5</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-file-invoice-dollar fa-lg mr-2 text-success"></i>Operación de cobros y rendición</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-stethoscope fa-lg mr-2 text-secondary"></i>Estudios</label><b> <h6 class=" d-flex justify-content-end text-success-bold ml-3">+  $900/Mes</h6></b></div>
          <div class=" d-flex justify-content-center"> <button class="btn btn-info btn-block">CONTRATAR</button></div>
        </div>
      </div>
    <!-- Course 3 -->
    <div class="animation-element bounce-up">
      <div class="subject photography">
        <div class="category-color"></div>
        <div class="icon"><i class="fas fa-hospital"></i></div>
        <div class="header cf">
            <div class="row title justify-content-between">
            <h3 class=" d-flex justify-content-start"> Avanzado</h3>
            <h4 class=" d-flex justify-content-end text-success-bold"> $2400/Mes</h4>
          </div>
          </div>
          <h5 >Para profesionales que trabajan en varias clínicas</h5>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-heartbeat fa-lg mr-2 text-danger"></i>Gestión de agenda e historia clínica</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-user fa-lg mr-2 text-secondary"></i>Usuarios disponibles - 7 </label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-user fa-lg mr-2 text-secondary"></i>Usuarios adicionales - 5  </label><b> <h6 class=" d-flex justify-content-end text-success-bold ml-3">+  $900/Mes</h6></b></div>
          <div class=" d-flex align-items-center" ><label><i class="far fa-hospital fa-lg mr-2"></i>Clínicas - 7</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-file-invoice-dollar fa-lg mr-2 text-success"></i>Operación de cobros y gestión de obra social</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-phone fa-lg mr-2 text-warning"></i>Agenda de recepción y telefonista</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-stethoscope fa-lg mr-2 text-secondary"></i>Estudios</label></div>
          <div class=" d-flex justify-content-center"> <button class="btn btn-info btn-block">CONTRATAR</button></div>
        </div>
      </div>
    <!-- Course 4 -->
    <div class="animation-element bounce-up cf">
      <div class="subject development">
        <div class="category-color"></div>
        <div class="icon"><i class="fas fa-hospital-alt"></i></div>
        <div class="header cf">
            <div class="row title justify-content-between">
            <h3 class=" d-flex justify-content-start"> Clínica</h3>
            <h4 class=" d-flex justify-content-end text-success-bold"> $6500/Mes</h4>
          </div>
          </div>
          <h5 ></h5>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-heartbeat fa-lg mr-2 text-danger"></i>Gestión de agenda e historia clínica</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-user fa-lg mr-2 text-secondary"></i>Usuario disponibles - 10</label></div>   
          <div class=" d-flex align-items-center" ><label><i class="fas fa-file-invoice-dollar fa-lg mr-2 text-success"></i>Operación de cobros y gestión de obra social,presentación a  obras sociales</label></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-phone fa-lg mr-2 text-warning"></i>Agenda de recepción y telefonista</label></div>  
          <div class=" d-flex align-items-center" ><label><i class="fas fa-stethoscope fa-lg mr-2 text-secondary"></i>Estudios</label></div>     
          <div class=" d-flex justify-content-center"> <button class="btn btn-info btn-block">CONTRATAR</button></div>
        </div>
      </div>

    <!-- Course 6 -->
    <div class="animation-element bounce-up cf">
        <div class="subject design">
            <div class="category-color"></div>
            <div class="icon"><i class="fas fa-procedures"></i></div>
            <div class="header cf">
                <div class="row title justify-content-between">
                <h3 class=" d-flex justify-content-start"> Empresarial</h3>
                <h4 class=" d-flex justify-content-end text-success-bold"> $16500/Mes</h4>
              </div>
              </div>
              <h5 >Sofware gestión para clínica o sanatorio que contempla desde recepción hasta la realización de cirugias</h5>
              <div class=" d-flex align-items-center" ><label><i class="fas fa-heartbeat fa-lg mr-2 text-danger"></i>Gestión de agenda de medicos recepción y telefonista,
                 historia clínica, asesoramiento quirúrgico, quirófano</label></div>
              <div class=" d-flex align-items-center" ><label><i class="fas fa-user fa-lg mr-2 text-secondary"></i>Usuario disponibles - ilimaitado </label></div>
              <div class=" d-flex align-items-center" ><label><i class="fas fa-file-invoice-dollar fa-lg mr-2 text-success"></i>Operación de cobros , gestión de obra social, 
                auditoria de ordenes, presentación a  obras sociales, liquidación de honorarios</label></div>
                <div class=" d-flex align-items-center" ><label><i class="fas fa-dollar-sign fa-lg mr-2 text-success"></i>Factura electrónica</label></div>
                <div class=" d-flex align-items-center" ><label><i class="fas fa-stethoscope fa-lg mr-2 text-secondary"></i>Estudios</label></div>
              <div class=" d-flex justify-content-center"> <button class="btn btn-info btn-block">CONTRATAR</button></div>
            </div>
    </div>
    <!-- Course 7 -->
    <div class="animation-element bounce-up">
      <div class="subject photography">
        <div class="category-color"></div>
        <div class="icon"><i class="fas fa-heart"></i></div>
        <div class="header cf">
            <div class="row title justify-content-between">
            <h3 class=" d-flex justify-content-start"> Adicional</h3>
            <h4 class=" d-flex justify-content-end text-success-bold"> 700$/Mes</h4>
          </div>
          </div>
          <h5 >Para profesionales que trabajan en varias clínicas</h5>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-dollar-sign fa-lg mr-2 text-success"></i>Factura electrónica</label><b> <h6 class=" d-flex justify-content-end text-success-bold ml-3">+  $600/Mes</h6></b></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-user fa-lg mr-2 text-secondary"></i>Usuario adicional</label><b> <h6 class=" d-flex justify-content-end text-success-bold ml-3">+  $350/Mes</h6></b></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-stethoscope fa-lg mr-2 text-secondary"></i>Estudios</label><b> <h6 class=" d-flex justify-content-end text-success-bold ml-3">+  $450/Mes</h6></b></div>
          <div class=" d-flex align-items-center" ><label><i class="fas fa-file-invoice-dollar fa-lg mr-2 text-success"></i>Operación de cobros , gestión de obra social, 
            auditoria de ordenes, presentación a  obras sociales, liquidación de honorarios</label><b> <h6 class=" d-flex justify-content-end text-success-bold ml-3">+  $1500/Mes</h6></b></div>
            <div class=" d-flex align-items-center" ><label><i class="far fa-hospital fa-lg mr-2"></i>Clínicas adicional</label><b> <h6 class=" d-flex justify-content-end text-success-bold ml-3">+  $350/Mes</h6></b></div>
          <div class=" d-flex justify-content-center"> <button class="btn btn-success btn-block">CONSULTAR</button></div>
        </div>
    </div>

    
  </div>

