<div class=" pb-5 animated fadeIn example">
  
      <label class="  text-gray d-flex justify-content-center label-h1 mb-5 pt-5 mr-1 ml-1">
         
       </label>
       <div class="faq-title text-center pb-3">
        <h2>  ¿Por que deberias usar este software?</h2>
    </div>

      <div class=" d-flex justify-content-center">            
        <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
          <div>
              <div class="card ">
                  <div class="card-body">
            <label  class="txt-noticia-inicio label-h4">¿En que me beneficia el uso de este software?</label>
            <p class="txt-noticia-inicio text-blue">La arquitectura de este software esta alojada en la nube, con esta tecnólogia  podes consultar tu agenda y ver tus historias clínicas donde quieras y desde cualquier dispositivo</p>
          </div>
        </div>            
          </div>
        </div>        
      </div>

      <div class=" d-flex justify-content-center">            
        <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
          <div>
              <div class="card ">
                  <div class="card-body">
            <label  class="txt-noticia-inicio label-h4"> ¿Si mi trabajo se desarrolla en distintas clíncas puedo tener distintas agendas?</label>
            <p class="txt-noticia-inicio  text-blue">Sí, dependiendo del módulo que elijas puedes administrar distintas clinicas y tener tus  agendas para cada una de ellas. Incluso puedes ampliar la cantidad de clínicas</p>
          </div>
        </div>            
          </div>
        </div>        
      </div>
   
      <div class=" d-flex justify-content-center">            
        <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
          <div>
              <div class="card ">
                  <div class="card-body">
            <label  class="txt-noticia-inicio label-h4">Tengo una secretaria que se encarga de la gestión de mis turnos, ¿puedo agregarla al sistema?</label>
            <p class="txt-noticia-inicio text-blue">Podes elegir que usuario es un "Médico"  y asignar roles a cada usuario (Ejemplo : Una secretaria podra dar turnos, pero no podra modificar historias clinicas), 
              si contas con personal administrativo podes asignarle roles de facturación , auditoria y liquidación </p>
            </div>
          </div>
            <br>
          </div>
        </div>        
      </div>

      <div class=" d-flex justify-content-center">            
        <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
          <div>
              <div class="card ">
                  <div class="card-body">
            <label  class="txt-noticia-inicio label-h4">¿Somos un grupo de profesionales , podemos trabajar con una misma cuenta?</label>
            <p class="txt-noticia-inicio  text-blue">Cada módulo tiene una cantidad de usuarios que puede ser ampliada. Puedes combinar los usuarios y clínicas para tener tu agenda organizada </p>
          </div>
        </div>
            <br>
          </div>
        </div>        
      </div>

      <div class=" d-flex justify-content-center">            
        <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
          <div>
              <div class="card ">
                  <div class="card-body">
            <label  class="txt-noticia-inicio label-h4">¿Necesito saber cuantas ordenes realize y cuanto deberia cobrar?</label>
            <p class="txt-noticia-inicio  text-blue">El módulo "CLINICAS" te permite realizar cobros,  cargar ordenes y obtener un resúmen de tus consultas. Asi siempre sabras tu estado financiero </p>
          </div>
        </div>
            <br>
          </div>
        </div>        
      </div>

      <div class=" d-flex justify-content-center">            
        <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
          <div>
              <div class="card ">
                  <div class="card-body">
            <label  class="txt-noticia-inicio label-h4">¿Como controlo las ordenes recibidas de obras sociales?</label>
            <p class="txt-noticia-inicio text-blue">Puedes realizar operaciones de cobro de obras sociales y agruparlas para saber cuantas ordenes  presentaron. clinicAZ posee un módulo muy potente para gestionar todas las obras sociales con sus respectivas modalidades </p>
          </div>
        </div>
            <br>
          </div>
        </div>
      </div>
  
      <div class=" d-flex justify-content-center">            
        <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
          <div>
              <div class="card ">
                  <div class="card-body">
              <label  class="txt-noticia-inicio label-h4">¿Puedo realizar factura electrónica?</label>
              <p class="txt-noticia-inicio  text-blue texto-josefina">Si, solo debes pasarnos el certificado ".crt" y la key ".key" que generas en tu perfil de AFIP, luego podras configurar tu punto de venta  </p>
            </div>
          </div>
              <br>
            </div>
          </div>          
        </div>

        <div class=" d-flex justify-content-center">            
          <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
            <div>
                <div class="card ">
                    <div class="card-body">
                <label  class="txt-noticia-inicio label-h4">Le solicité a mi paciente estudios ¿Puedo adjuntarlos a su historia clínica?</label>
                <p class="txt-noticia-inicio  text-blue">Puedes subir los estudios a la historia clínica en formato PDF JPG y PNG, existe un limite en el tamaño de subida del archivo asi que ten en cuenta   </p>
                   
              </div>
            </div>
                <br>
              </div>
            </div>            
          </div>
       
          <div class=" d-flex justify-content-center">            
            <div class=" row  d-flex justify-content-center col-sm-12  col-md-6">
              <div>
                  <div class="card ">
                      <div class="card-body">
                        <label class="txt-noticia-inicio label-h4">En mi provincia la obra social D.O.S solicita distintos requerimientos a los de otras obras sociales</label>
                        <p class="txt-noticia-inicio  text-blue card-text">Contemplamos todos los procesos de D.O.S desde consultas hasta cirugias, tanto como su presentación  en papel y archivo .TXT, y sus coseguros </p>

                      
                      </div>
                    </div>
                
           
                
                <br>
              </div>
            </div>
    
</div>

</div>
   
