
<nav class=" navbar navbar-expand-lg navbar-default  container-fluid-nav fixed-top animated slideInDown ">
   
        <a class="navbar-brand ml-3" routerLink="inicio"><img src="assets/img/logo-clinicaz-texto-blanco-violeta.png" height="40" alt="ClinicAZ"></a>
        <button class="navbar-toggler my-hover  navbar-toggler-left  " type="button" data-toggle="collapse"
            (click)="toggleNavbar()">
            <i class="fa fa-navicon"></i>
    </button>
  

        <div class="collapse navbar-collapse animated fadeIn slow  "
        [ngClass]="{ 'show': navbarOpen }">
        <ul class="nav navbar-nav slideInDown ">
            <a class="nav-link btn-menu-uno hvr-shrink" routerLink="inicio" (click)="toggleNavbar()" href="#">Inicio</a>
        <a class="nav-link btn-menu-uno hvr-shrink" routerLink="faq" (click)="toggleNavbar()" href="#">Preguntas frecuentes</a>
        <a class="nav-link btn-menu-uno hvr-shrink" routerLink="precios" (click)="toggleNavbar()" href="#">Precios</a>

  
 

        <div class="d-flex justify-content-between d-flex align-items-center" >

     
  
           


              <div class="d-flex justify-content-end">
               
                      <a class="nav-link btn-menu-uno hvr-shrink"  routerLink="contacto" >Contacto</a>
            
                      
                      
                  
                </div> 
        </div>
  </ul>
  <div class="d-flex justify-content-between d-flex align-items-center .d-md-none .d-lg-block " >
  <a class="nav-link  hvr-shrink d-flex justify-content-end text-ingresar-bold"  href="http://clinicaz.com.ar/app" target="_blank">INGRESAR</a>
  <h6  ><a class="nav-link  hvr-shrink  d-flex justify-content-end texto-josefina mt-3 text-warning-bold" routerLink="registro" (click)="toggleNavbar()" href="#">REGISTRARSE</a></h6> 
  </div>
</div>

   
  </nav>


<!-- 
      
    
<nav class="navbar navbar-expand-lg navbar-default  container-fluid-nav fixed-top animated slideInDown">
    <a class="navbar-brand" routerLink="inicio"><img src="assets/img/logos-agencia-gobierno.png" height="50" alt=""></a>
  


    <button class="navbar-toggler my-hover  navbar-toggler-right  " type="button" data-toggle="collapse"
            (click)="toggleNavbar()">
            <i class="fa fa-navicon"></i>
    </button>
  
  
    <div class="collapse navbar-collapse animated fadeIn slow  container-fluid-nav text-center "
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="nav navbar-nav slideInDown ">
        <li class="nav-item">
          <a class="nav-link btn-menu-uno hvr-shrink" routerLink="inicio" (click)="toggleNavbar()" href="#">INICIO</a>
        </li>
  
        <li class="nav-item">
            <a class="nav-link btn-menu-uno hvr-shrink" routerLink="institucional/quienessomos" (click)="toggleNavbar()" href="#">QUIENES SOMOS</a>
        </li>
          
        <li class="nav-item">
            <a class="nav-link btn-menu-uno hvr-shrink" routerLink="institucional/financiamiento" (click)="toggleNavbar()" href="#">FINANCIAMIENTO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-menu-uno hvr-shrink" routerLink="institucional/capacitaciones" (click)="toggleNavbar()" href="#">CAPACITACIONES</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link btn-menu-uno hvr-shrink"  href="http://incubadoraagenciacalidadsanjuan.com.ar/" target="_blank">INCUBADORA</a>
      </li> 
        <li class="nav-item">
            <a class="nav-link btn-menu-uno hvr-shrink" routerLink="institucional/contacto" (click)="toggleNavbar()" href="#">CONTACTO</a>
        </li> 
      </ul>
    </div>
  </nav>


    
    
 -->


  
  
