<div class=" header-inicio ">
  <nav class=" navbar navbar-expand-lg navbar-default  container-fluid-nav fixed-top animated slideInDown  " >
   
        <a class="navbar-brand ml-3" routerLink="inicio"><img src="assets/images/logo_clinicaz.png" height="50" alt="ClinicAZ"></a>
        <button class="navbar-toggler my-hover  navbar-toggler-left  navbar-button" type="button" data-toggle="collapse" 
        (click)="toggleNavbar()">
        <i class="fa fa-navicon"></i>
    </button>
    
      <div class="collapse navbar-collapse animated fadeIn slow navbar-round "
      [ngClass]="{ 'show': navbarOpen }">
        <ul class="nav navbar-nav slideInDown ">
        <a class=" nav-link btn-menu-uno hvr-shrink texto-monserrat navbar-font " routerLink="inicio" (click)="toggleNavbar()" href="#"><label class="font-size-h6 navbar-font">Inicio</label></a>
        <a class=" nav-link btn-menu-uno hvr-shrink texto-monserrat navbar-font" routerLink="faq" (click)="toggleNavbar()" href="#"><label class="font-size-h6 navbar-font">Preguntas frecuentes</label></a>
        <a class=" nav-link btn-menu-uno hvr-shrink texto-monserrat " routerLink="precios" (click)="toggleNavbar()" href="#"><label class="font-size-h6 navbar-font my-hover">Precios</label></a>
        <a class=" nav-link btn-menu-uno hvr-shrink texto-monserrat navbar-font"  routerLink="contacto"  (click)="toggleNavbar()" ><label class="font-size-h6 navbar-font">Contacto</label></a>
        <a class=" nav-link btn-menu-uno hvr-shrink texto-monserrat text-ingresar-bold  d-md-none "  routerLink="cuenta "  (click)="toggleNavbar()" ><label class="font-size-h6 navbar-font-green my-hover">INGRESAR</label></a>
        <a class=" nav-link btn-menu-uno hvr-shrink texto-monserrat text-warning-bold d-md-none d-xl-none d-lg-none " routerLink="registro" (click)="toggleNavbar()" href="#"><label class="font-size-h6 navbar-font-blue my-hover">REGISTRARSE</label></a>
        
  
 

        <div class="d-flex justify-content-between d-flex align-items-center" >
              <div class="d-flex justify-content-end">
              </div> 
              <div class="d-flex justify-content-start">                  
              </div> 
        </div>
  </ul>
  <div class="d-flex justify-content-between d-flex align-items-center .d-md-none .d-lg-block "  (click)="toggleNavbar()" >
  <a class="nav-link btn-menu-uno hvr-shrink texto-josefina text-ingresar-bold d-sm-none d-md-none d-md-block d-none d-md-block "  routerLink="cuenta"  (click)="toggleNavbar()" ><label class="font-size-h6 navbar-font-green my-hover">INGRESAR</label></a>
  <a class="nav-link btn-menu-uno hvr-shrink texto-josefina text-warning-bold d-sm-none d-md-none d-md-block  d-none d-md-block" routerLink="registro" (click)="toggleNavbar()" href="#"><label class="font-size-h6 navbar-font-blue my-hover">REGISTRARSE</label></a>
  </div>
</div>

   
  </nav>
  <div class="pt-5">
    <div class="pt-5">        
    <label class=" text-gray d-flex justify-content-center label-h1 ">Sofware de gestión en salud</label>
    <label class="txt- pb-5 text-orange   texto-josefina d-flex justify-content-center label-h2">"Pensado para todos los profesionales de la salud"</label>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success btn-lg  d-flex justify-content-center d-flex align-items-center" routerLink="/registro"> <i class="far fa-check-circle d-flex align-items-center mr-2"></i>Contratalo Ahora</button>
    </div>
    
    <br>
  </div>
</div>
</div>




  
