<div class="ui-panel-images background-capacitaciones    cuadro-size  animated fadeIn">
  <div class=" cuadro-size transparency-capacitaciones pb-5">
 
      <div  *ngIf="errornoticia" class=" row mt-5">
          <div class="col-4"></div>
          <div class="col-4">
              <div><b><h6 class="text-white">A ocurrido un error</h6></b></div>
              <div><button class="btn btn-info brn-lg btn-block" (click)="loadListCapacitaciones()"> Volver a cargar</button></div>
          </div>
          <div class="col-4"></div>
           
          </div>
  <div class="mt-5"></div>
  <p-scrollPanel  [style]="{width: '99%', height: '500px'}">
    
  
      <div  *ngFor="let elemento of elementos">
  <div class=" row "  *ngIf="elemento.alineacion === 'DER'">
    
    	<div class="col-md-2 xs-0 col-sm-0"></div>
			<div class="col-md-8 xs-12 col-sm-12  mt-5  border-wrapper animated fadeIn slow">
        <div class="row">
            <div class="col-md-5">
                <img src="{{elemento.imagen}}" alt="Smiley face" class="cuadro-size-capacitaciones">
            </div>

          <div class="col-md-6">
              <b><h5 class="txt-noticia-inicio font-weight-bold ">{{elemento.titulo}}</h5></b>
              
              <h6 class="txt-noticia-inicio"><p class="text-justify">{{elemento.descripcion}}</p></h6>
              
                <a *ngIf="elemento.tiene_enlace" class="txt-link-capacitaciones " target="_blank" href="{{elemento.enlace}}">Link de inscripción</a>
          </div>

          <div class="col-md-1"></div>
         
        </div>
        
      </div>
			<div class="col-md-2 xs-0 col-sm-0  "></div>

</div>

<div class=" row " *ngIf="elemento.alineacion === 'IZQ'">
    
    <div class="col-md-2 xs-0 col-sm-0"></div>
    <div class="col-md-8 xs-12 col-sm-12  mt-5  border-wrapper animated fadeIn slow">
      <div class="row">
         
          <div class="col-md-1"></div>
        <div class="col-md-6">
            <h5 class="txt-noticia-inicio font-weight-bold">{{elemento.titulo}}</h5>
            
            <h6 class="txt-noticia-inicio"><p class="text-justify">{{elemento.descripcion}}</p></h6>

            <a *ngIf="elemento.tiene_enlace" class="txt-link-capacitaciones " target="_blank" href="{{elemento.enlace}}">Link de inscripción</a>
        </div>
        <div class="col-md-5">
            <img src="{{elemento.imagen}}" alt="Smiley face" class="cuadro-size-capacitaciones">
        </div>
     
       
      </div>
      
    </div>
    <div class="col-2 xs-0 col-sm-0  "></div>

</div> 
</div> 
</p-scrollPanel>
</div>
</div>