
    <div >
      <app-navbar ></app-navbar>
       <router-outlet ></router-outlet>
   
<div class="fixed-bottom d-flex justify-content-center footer-default">


   

<div class="m-2">
  <div class="d-flex justify-content-between row">
      <div class="d-flex justify-content-start">
    <a class="navbar-brand ml-3 mb-1"><img src="assets/img/log-clinicaz-texto-blanco.png" height="40" alt="ClinicAZ"></a>
  </div>
    <div class="d-flex justify-content-center">
           <!--  <a href="http://titanglobaltech.net/" class="social-item website-color" id="0" target="_blank">
              <i class="fa fa-globe social-icon"></i>
            </a>
        
            <a href="https://github.com/b1tn3r" class="social-item github-color" id="1" target="_blank"> 
              <i class="fab fa-github social-icon"></i> 
            </a>  
        
            <a href="https://codepen.io/b1tn3r/" class="social-item codepen-color" id="2" target="_blank">
              <i class="fab fa-codepen social-icon"></i>
            </a>
         -->
            <a href="https://www.facebook.com/Clinicaz-102214751215321/" class="social-item facebook-color" id="3" target="_blank">
              <i class="fab fa-facebook-f social-icon"></i>
            </a>
        
         <!--    <a href="https://plus.google.com/u/1/b/101737025633422868987/101737025633422868987" class="social-item google-color" id="4" target="_blank">
              <i class="fab fa-google-plus-g social-icon"></i>
            </a>  
        
            <a href="https://twitter.com/TitanGlobalTech" class="social-item twitter-color" id="5" target="_blank">
              <i class="fab fa-twitter social-icon"></i>
            </a> -->
        
            <a href="https://www.instagram.com/clinicaz.software/" class="social-item instagram-color" id="6" target="_blank">
              <i class="fab fa-instagram social-icon"></i>
            </a>  
          </div>

          <div class="d-flex justify-content-end"></div>
          </div>
        </div>
      </div>
