@import url('https://fonts.googleapis.com/css?family=Mukta:700');




/***************************** BOTON CON HOVER - LILA Y SE SOBREPONE SOBRE EL TEXTO ********************************/
$bg: #f3f8fa;
$white: #fff;
//$black: #282936; // COLOR ORIGINAL

$black: #3498DB;
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}




button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: $white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}





/****************************** PACK DE BOTONES **********************************/



$neon: #00FFF8;

/* Mixins */
@mixin gradientBg($direction, $startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient($direction,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: -webkit-linear-gradient($direction,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: linear-gradient($direction,  $startColor 0%, $endColor 80%,$endColor 100%);
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
	@include gradientBg(180deg, #fa7e29, #F6682F);
}
.bg-gradient2 span,
.bg-gradient2:before {
	@include gradientBg(180deg, #39C2C9, #3FC8C9);
}
.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
	@include gradientBg(180deg, #B9AEF0, #ADA1EB);
}

.bg-gradient4 span {
	@include gradientBg(180deg, #F6682F, #F6682F);
}
// .bg-gradient4:before {
// 		@include gradientBg(180deg, #d2d6df, #666a73);
	// }

/* General */
.wrapper {
  	margin: 4% auto;
	text-align: center;
}

h3{
	color: #666a73;
	font-weight: 300;
	letter-spacing: 0.06em;
}

a {
	text-decoration: none;
  
	&:hover,
	&:focus,
	&:active {
	  text-decoration: none;
  }
}

/* fancy Button */
.fancy-button {
	display: inline-block;
	margin: 20px;
	font-family: 'Heebo', Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	line-height: 24px;
	color: #ffffff;
	position: relative;
	
	&.bg-gradient1 {
		text-shadow: 0px 0px 1px #BF4C28;
	}
	
	&.bg-gradient2 {
		text-shadow: 0px 0px 1px #227270;
	}
	
	&.bg-gradient3 {
		text-shadow: 0 0 1px #546082;
	}
	
	&:before {
		content: '';
		display: inline-block;
		height: 40px;
		position: absolute;
		bottom: -1px;
		left: 10px;
		right: 10px;
		z-index: -1;
		border-radius: 2em;
		filter: blur(14px) brightness(0.9);
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
	}
	i {
		margin-top: -2px;
		font-size: 1.265em;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		padding: 16px 20px;
		border-radius: 50em;
		position: relative;
		z-index: 2;
		will-change: transform, filter;
		transform-style: preserve-3d;
		transition: all 0.3s ease-out;
	}
	&:focus{
		color: #ffffff;
	}
	&:hover {
		color: #ffffff;
		
		span {
			filter: brightness(.9) contrast(1.2);
			transform: scale(0.96);
		}
		&:before {
			bottom: 3px;
			filter: blur(6px) brightness(0.8);
		}
	}
	&:active span {
			filter: brightness(.75) contrast(1.7);
		}
	&.pop-onhover {
		span {
			border-radius: 4px;
		}
		&:before {
			opacity: 0;
			bottom: 10px;
		}
		&:hover {
			&:before {
				bottom: -7px;
				opacity: 1;
				filter: blur(16px);
			}
			span {
				// transform: scale(1.03);
				transform: scale(1);
			}
			&:active {
				span {
					filter: brightness(1) contrast(1);
					transform: scale(1);
					transition: all 0.2s ease-out;
				}
				&:before {
					bottom: 0;
					filter: blur(5px) brightness(0.85);
					transition: all 0.2s ease-out;
				}
			}
		}
	}
}

.pop-onhover.bg-gradient3 span:hover{
		@include gradientBg(120deg, #B9AEF0, #ADA1EB);
}


//solid to gradient

.bg-gradient4:before {
	bottom: 2px;
	opacity: 0.6;
	transition: all 0.3s ease-out;
}

.bg-gradient4 {
	transition: all 1s ease;
	span {
		outline: 0px solid transparent;
	}
	&:hover span {
		@include gradientBg(-25deg, #FC3D7C, #F76A34);
	}
	&:focus span, &:active span{
		@include gradientBg(25deg, #FC3D7C, #F76A34);
	}
	&:focus span {
		// outline: 2px solid $neon;
		box-shadow: 0 0 9px $neon;
	}
	&:active span {
		filter: brightness(.85) contrast(1.3);
	}
}

.bg-gradient4 span {
	text-transform: capitalize;
}


/*

<div class="wrapper">
	<h3>Push</h3>
	<a href="#" class="fancy-button bg-gradient1"><span><i class="fa fa-ticket"></i>Tickets</span></a>
	<a href="#" class="fancy-button bg-gradient2"><span><i class="fa fa-plus"></i></span></a>
<br><br>
	<h3>Magnet</h3>
	<a href="#" class="fancy-button pop-onhover bg-gradient1"><span>Publish</span></a>
	<a href="#" class="fancy-button pop-onhover bg-gradient3"><span><i class="fa fa-pencil"></i>Edit</span></a>
	
	<h3>Solid to gradient</h3>
	<a href="#" target="_blank" class="fancy-button pop-onhover bg-gradient4"><span>Save</span></a>
	
	
</div><!-- /.wrapper -->


*/




